.navi_1_0_0_solution{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1920px;
    padding: 50px 0;
    &__inner{
        display: flex;
        margin-top: 40px;
    }
    &__content{
        width: 40%;
        padding-right: 100px;
    }
    &__image{
        width: 60%;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        &--1{
            position: relative;
            overflow: hidden;
            img{
                position: absolute;
                top: 0;
                &.animate{
                    animation: slideInFromLeft 0.5s ease-in-out;
                    z-index: 1;
                }
            }
        }
    }
    &__sub{
        color: #005284;
        margin-bottom: 10px;
    }
    &__title{
        color: #333637;
        font-size: 40px;
        margin-bottom: 10px;
    }
    &__desc{
        margin-bottom: 20px;
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;
    }
    &__tabs{
        display: flex;
        margin-left: -10px;
    }
    &__tab{
        color: #fff;
        color: var(--second-button);
        border-radius: 55px;
        border: 1px dashed var(--second-button);
        padding: 8px 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.2s linear;
        &.active, &:hover{
            background-color: var(--second-button);
            color: #fff;
        }
    }
    &__list{
        margin-top: 20px;
    }
    &__post{
        &.active{
            border-left: 2px solid var(--primary-button);
            .navi_1_0_0_solution__desc{
                transition: max-height 0.5s ease;
                max-height: 500px;
            }
            .navi_1_0_0_solution__item{
                img{
                    transform: rotate(180deg);
                }
            }
        }
        padding-left: 30px;
    }
    &__item{
        font-family: var(--weight-600);
        text-transform: capitalize;
        color: #000;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        padding-bottom: 13px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        font-size: 17px;
        cursor: pointer;
        img{
            margin-left: 10px;
            width: 9px;
            height: 6px;
        }
    }
    &__meta{
        margin-bottom: 10px;
    }
    &__more{
        font-family: var(--weight-600);
        color: var(--primary-button);
        img{
            width: 6px;
            height: 12px;
        }
    }
    @media (max-width: 767px){
        &__inner{
            flex-direction: column;
            margin: 0;
        }
        &__content{
            width: 100%;
        }
        &__image{
            width: 100%;
            padding: 0;
            margin-top: 10px;
        }
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}