.navi_1_0_0_key{
    overflow: hidden;
    padding: 70px 0 70px;
    background: linear-gradient(90deg, rgba(245,245,245,1) 50%, rgba(28,35,78,1) 50%);
    &__inner{
        display: flex;
        margin: 0 -20px;
    }
    &__img{
        width: 50%;
        img{
            width: 150%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin-left: -10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    &__content{
        width: 50%;
        padding: 0 40px 0 20px;
    }
    &__sub{
        color: #005284;
        margin-bottom: 10px;
        font-size: 15px;
    }
    &__title{
        color: #333637;
        font-size: 40px;
        margin-bottom: 20px;
    }
    &__desc{
        margin: 20px 0;
    }
    &__ups{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    @media (max-width: 767px){
        &__inner{
            flex-direction: column;
            margin: 0;
        }
        &__img, &__content{
            width: 100%;
            padding: 0;
        }
        &__img{
            background-color: transparent;
            img{
                border-radius: 10px;
                margin-left: 0;
                width: 100%;
            }
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}