.navi_1_0_0_key {
  padding: 40px 0;
  background-color: #F5F5F5;
}
.navi_1_0_0_key__inner {
  display: flex;
  margin: 0 -20px;
}
.navi_1_0_0_key__img {
  width: 50%;
  padding: 20px 0 20px 0;
  background-color: #1C234E;
}
.navi_1_0_0_key__img img {
  width: calc(100% + 10px);
  height: auto;
  display: block;
  margin-left: -10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navi_1_0_0_key__content {
  width: 50%;
  padding: 0 20px;
}
.navi_1_0_0_key__sub {
  color: #005284;
  margin-bottom: 10px;
  font-size: 15px;
}
.navi_1_0_0_key__title {
  color: #333637;
  font-size: 32px;
  margin-bottom: 20px;
}
.navi_1_0_0_key__desc {
  margin: 20px 0;
}
.navi_1_0_0_key__ups img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 767px) {
  .navi_1_0_0_key__inner {
    flex-direction: column;
    margin: 0;
  }
  .navi_1_0_0_key__img, .navi_1_0_0_key__content {
    width: 100%;
    padding: 0;
  }
  .navi_1_0_0_key__img {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navi_1_0_0_key__img img {
    border-radius: 10px;
    margin-left: 0;
    width: 100%;
  }
}