.navi_1_0_0_challenge {
  background-color: #F5F5F5;
  padding: 30px 0;
}
.navi_1_0_0_challenge__sub {
  color: #005284;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}
.navi_1_0_0_challenge__title {
  color: #333637;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.navi_1_0_0_challenge__desc {
  margin: 20px 0;
  text-align: center;
}
.navi_1_0_0_challenge__img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}