.footer_1_0_0{
    background: url('../images/bg.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0;
    color: #fff;
    &__logo{
        margin-bottom: 20px;
    }
    &__inner{
        display: flex;
    }
    &__col{
        width: 33.3%;
        padding: 0 10px;
    }
    &__pin{
        margin-top: 10px;
        padding: 0 5px;
        p{
            margin-bottom: 5px;
            margin-top: 0;
        }
    }
    &__600{
        font-family: var(--weight-600);
        margin-bottom: 5px;
        margin-top: 0;
    }
    &__global{
        margin-top: 20px;
        line-height: 2;
        p{
            margin-bottom: 5px;
            margin-top: 0;
        }
    }
    &__phone{
        margin-top: 7px;
        display: flex;
        align-items: center;
        img{
            width: 18px;
            height: 18px;
        }
    }
    &__cate{
        width: 50%;
        margin-top: 30px;
    }
    &__cateHead{
        font-family: var(--weight-500);
        font-size: 18px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        width: fit-content;
        position: relative;
        &::after{
            content: '';
            width: 80%;
            max-width: 80px;
            background-color: #fff;
            height: 2px;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    &__link{
        display: block;
        color: #fff;
        margin-bottom: 10px;
        font-family: var(--weight-500);
        &--1{
            display: flex;
            align-items: center;
            img{
                margin-right: 5px;
                width: 15px;
                height: 15px;
                object-fit: contain;
            }
        }
    }
    &__email{
        margin-top: 30px;
    }
    &__up{
        padding-top: 10px;
    }
    &__input{
        margin-top: 30px;
        position: relative;
        input{
            outline: none;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            width: 100%;
            color: #fff;
            padding-bottom: 10px;
            &::placeholder{
                color: #fff;
                opacity: 1;
            }
        }
    }
    &__submit{
        position: absolute;
        right: 0;
        bottom: 2px;
        img{
            border-radius: 100%;
        }
    }
    @media(max-width:767px){
        &__inner{
            flex-direction: column;
        }
        &__col{
            width: 100%;
        }
    }
}