.footer_1_0_0 {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
}
.footer_1_0_0__logo {
  margin-bottom: 20px;
}
.footer_1_0_0__inner {
  display: flex;
}
.footer_1_0_0__col {
  width: 33.3%;
  padding: 0 10px;
}
.footer_1_0_0__pin {
  margin-top: 10px;
  padding: 0 5px;
}
.footer_1_0_0__pin p {
  margin-bottom: 5px;
  margin-top: 0;
}
.footer_1_0_0__600 {
  font-family: var(--weight-600);
  margin-bottom: 5px;
  margin-top: 0;
}
.footer_1_0_0__global {
  margin-top: 20px;
  line-height: 2;
}
.footer_1_0_0__global p {
  margin-bottom: 5px;
  margin-top: 0;
}
.footer_1_0_0__phone {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.footer_1_0_0__phone img {
  width: 18px;
  height: 18px;
}
.footer_1_0_0__cate {
  width: 50%;
  margin-top: 30px;
}
.footer_1_0_0__cateHead {
  font-family: var(--weight-500);
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.footer_1_0_0__cateHead::after {
  content: "";
  width: 80%;
  max-width: 80px;
  background-color: #fff;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
}
.footer_1_0_0__link {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  font-family: var(--weight-500);
}
.footer_1_0_0__link--1 {
  display: flex;
  align-items: center;
}
.footer_1_0_0__link--1 img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer_1_0_0__email {
  margin-top: 30px;
}
.footer_1_0_0__up {
  padding-top: 10px;
}
.footer_1_0_0__input {
  margin-top: 30px;
  position: relative;
}
.footer_1_0_0__input input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: #fff;
  padding-bottom: 10px;
}
.footer_1_0_0__input input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.footer_1_0_0__input input::placeholder {
  color: #fff;
  opacity: 1;
}
.footer_1_0_0__submit {
  position: absolute;
  right: 0;
  bottom: 2px;
}
.footer_1_0_0__submit img {
  border-radius: 100%;
}
@media (max-width: 767px) {
  .footer_1_0_0__inner {
    flex-direction: column;
  }
  .footer_1_0_0__col {
    width: 100%;
  }
}