:root {
  --primary-button: #C92030;
  --second-button: #005284;
  --weight-400 : 'Fz Poppins';
  --weight-500 : 'Fz Poppins Med';
  --weight-600 : 'Fz Poppins SemBd';
  --weight-700 : 'Fz Poppins Bd';
}

.button-primary{
    color: #fff;
}