@import "reset";
@import "variable";

@font-face {
  font-family: "Fz Poppins";
  src: url("../font/FzPoppins-Regular.woff2") format("woff2"),
    url("../font/FzPoppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fz Poppins Bd";
  src: url("../font/FzPoppins-Bold.woff2") format("woff2"),
    url("../font/FzPoppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fz Poppins Med";
  src: url("../font/FzPoppins-Medium.woff2") format("woff2"),
    url("../font/FzPoppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fz Poppins SemBd";
  src: url("../font/FzPoppins-SemiBold.woff2") format("woff2"),
    url("../font/FzPoppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: var(--weight-400);
  color: #515151;
  line-height: 1.4;
}

section[id] {
  scroll-margin-top: 103px;
  @media (max-width: 767px) {
    scroll-margin-top: 120px;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1290px;
  }
}
