.navi_1_0_0_blog {
  padding: 40px 0;
  background-color: #F9F9F9;
}
.navi_1_0_0_blog__sub {
  color: #005284;
  margin-bottom: 10px;
  text-align: center;
}
.navi_1_0_0_blog__title {
  color: #333637;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.navi_1_0_0_blog__desc {
  margin: 20px 0;
  text-align: center;
}
.navi_1_0_0_blog__postMain {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.2s linear;
}
.navi_1_0_0_blog__postMain:hover {
  box-shadow: 0px 2px 35.7px 0px rgba(0, 0, 0, 0.1294117647);
}
.navi_1_0_0_blog__imgMain {
  width: 40%;
}
.navi_1_0_0_blog__imgMain img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
}
.navi_1_0_0_blog__contentMain {
  width: 60%;
  padding: 50px 80px;
}
.navi_1_0_0_blog__date {
  font-size: 14px;
  opacity: 0.3s;
  margin-bottom: 20px;
}
.navi_1_0_0_blog__head {
  font-size: 20px;
  font-family: var(--weight-500);
  color: #101828;
  margin-bottom: 20px;
}
.navi_1_0_0_blog__meta {
  font-size: 15px;
  margin: 20px 0;
}
.navi_1_0_0_blog__more {
  display: inline-block;
  color: var(--primary-button);
  font-family: var(--weight-600);
}
.navi_1_0_0_blog__more img {
  margin-bottom: -1px;
  margin-left: 5px;
}
.navi_1_0_0_blog__list {
  display: flex;
  margin: 20px -10px 0;
}
.navi_1_0_0_blog__item {
  width: 33.3%;
  border-radius: 10px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.2s linear;
}
.navi_1_0_0_blog__item:hover {
  box-shadow: 0px 2px 35.7px 0px rgba(0, 0, 0, 0.1294117647);
}
.navi_1_0_0_blog__content {
  padding: 20px;
}
.navi_1_0_0_blog__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 767px) {
  .navi_1_0_0_blog__postMain {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .navi_1_0_0_blog__imgMain {
    width: 100%;
  }
  .navi_1_0_0_blog__contentMain {
    width: 100%;
  }
  .navi_1_0_0_blog__list {
    flex-wrap: wrap;
    margin: 0;
  }
  .navi_1_0_0_blog__item {
    width: 100%;
    margin: 0 0 10px;
  }
}