.navi_1_0_0_vision {
  background: url("../images/vision-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
}
.navi_1_0_0_vision__content {
  width: 50%;
}
.navi_1_0_0_vision__item {
  position: relative;
  padding-left: 50px;
  padding-bottom: 40px;
}
.navi_1_0_0_vision__item::before {
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0C8FD3;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3568627451);
  z-index: 1;
}
.navi_1_0_0_vision__item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 20px;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.3568627451);
}
.navi_1_0_0_vision__item:last-child {
  padding-bottom: 0;
}
.navi_1_0_0_vision__item:last-child::after {
  height: 0;
}
.navi_1_0_0_vision__head {
  font-size: 40px;
  margin-bottom: 20px;
}
.navi_1_0_0_vision__text {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .navi_1_0_0_vision__content {
    width: 100%;
  }
}