.filter_1_0_0 {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px;
  color: #fff;
  padding: 75px 0 50px;
}
.filter_1_0_0__head {
  font-weight: 600;
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 40px;
}
.filter_1_0_0__bar {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.filter_1_0_0__item {
  width: 22.5%;
  padding: 0 5px;
}
.filter_1_0_0__item label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.filter_1_0_0__item select {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}
.filter_1_0_0__button {
  width: 10%;
  background-color: var(--primary-button);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.filter_1_0_0__button:hover {
  background-color: var(--second-button);
}
@media (max-width: 767px) {
  .filter_1_0_0__item {
    width: 50%;
    margin-bottom: 15px;
  }
  .filter_1_0_0__button {
    margin: 0 5px;
    width: 150px;
  }
}
@media (max-width: 430px) {
  .filter_1_0_0 {
    background-size: cover;
  }
}

.post_1_0_0__control {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.post_1_0_0 .swiper-pagination {
  width: -moz-fit-content;
  width: fit-content;
  bottom: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post_1_0_0__next, .post_1_0_0__prev {
  width: 8px;
  z-index: 10;
}
.post_1_0_0__next img, .post_1_0_0__prev img {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.post_1_0_0__next::after, .post_1_0_0__prev::after {
  content: "";
}
.post_1_0_0 .swiper-pagination-bullet {
  background: #005284;
  opacity: 1;
  width: 9px;
  height: 9px;
  margin: 0 10px !important;
}
.post_1_0_0 .swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid #005284;
  transform: scale(1.4);
}
.post_1_0_0__recent {
  padding: 30px 0;
  background-color: #f5f5f5;
}
.post_1_0_0__recentHead {
  color: var(--primary-button);
  font-weight: 600;
  margin-bottom: 20px;
}
.post_1_0_0__recentItem {
  display: flex;
}
.post_1_0_0__recentContent, .post_1_0_0__recentThumb {
  width: 50%;
}
.post_1_0_0__recentContent {
  padding: 20px 0;
}
.post_1_0_0__recentThumb img {
  width: 100%;
  height: auto;
  display: block;
}
.post_1_0_0__recentTitle {
  color: #000000;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 15px;
}
.post_1_0_0__recentMeta {
  color: #909090;
  font-size: 14px;
}
.post_1_0_0__recentPost {
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
}
.post_1_0_0__recentLine {
  width: 100%;
  border-top: 3px solid #dfdfdf;
  transition: all 0.2s linear;
  padding-top: 10px;
  color: #000000;
  font-weight: 500;
}
.post_1_0_0__recentLine:hover {
  border-color: var(--primary-button);
}
.post_1_0_0 .swiper-slide-thumb-active .post_1_0_0__recentLine {
  border-color: var(--primary-button);
}
.post_1_0_0__list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -10px;
}
.post_1_0_0__item {
  width: calc(33.3% - 20px);
  margin: 0 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.2s linear;
}
.post_1_0_0__item:hover {
  box-shadow: 0px 2px 35.7px 0px rgba(0, 0, 0, 0.1294117647);
}
.post_1_0_0__thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.post_1_0_0__info {
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
.post_1_0_0__date--1 {
  color: rgba(31, 31, 31, 0.3019607843);
  font-size: 13px;
  margin: 5px 0 10px;
}
.post_1_0_0__relateTitle {
  display: block;
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.post_1_0_0__desc {
  font-size: 14px;
}
.post_1_0_0__more {
  display: block;
  color: #c92030;
  font-weight: 600;
  margin-top: 10px;
}
.post_1_0_0__icon {
  margin-bottom: -1px;
}
.post_1_0_0__moreList {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: var(--primary-button);
  border: 1px solid var(--primary-button);
  border-radius: 55px;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s linear all;
  cursor: pointer;
  margin-bottom: 30px;
}
.post_1_0_0__moreList:hover {
  color: #fff;
  background-color: var(--primary-button);
}
@media (max-width: 767px) {
  .post_1_0_0__recentItem {
    flex-direction: column;
  }
  .post_1_0_0__recentContent, .post_1_0_0__recentThumb {
    width: 100%;
  }
  .post_1_0_0__recentThumb {
    order: 1;
  }
  .post_1_0_0__recentContent {
    order: 2;
  }
  .post_1_0_0__recentPost {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .post_1_0_0__recentLine {
    width: 100%;
    margin: 0 0 10px;
  }
  .post_1_0_0__list {
    flex-direction: column;
    margin: 30px 0;
  }
  .post_1_0_0__item {
    width: 100%;
    margin: 0 0 20px;
  }
}

.contact_2_0_0 {
  background-image: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  margin: 30px 0;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact_2_0_0__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.contact_2_0_0__action {
  display: flex;
}
.contact_2_0_0__btn {
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  display: block;
  margin: 0 10px;
  transition: all 0.2s linear;
}
.contact_2_0_0__btn--1 {
  background-color: var(--primary-button);
  border-color: var(--primary-button);
}
.contact_2_0_0__btn--1:hover {
  background-color: var(--second-button);
  border-color: var(--second-button);
}
.contact_2_0_0__btn--2 {
  border-color: #fff;
}
.contact_2_0_0__btn--2:hover {
  background-color: var(--second-button);
  border-color: var(--second-button);
}
@media (max-width: 767px) {
  .contact_2_0_0 {
    padding: 50px 20px;
  }
  .contact_2_0_0__title {
    font-size: 18px;
  }
  .contact_2_0_0__btn {
    padding: 8px 20px;
  }
}