.navi_1_0_0_scope {
  padding: 30px;
  background-color: #F5F5F5;
}
.navi_1_0_0_scope__sub {
  color: #005284;
  margin-bottom: 10px;
  font-size: 15px;
}
.navi_1_0_0_scope__title {
  color: #333637;
  font-size: 32px;
  margin-bottom: 20px;
}
.navi_1_0_0_scope__desc {
  margin: 20px 0;
  width: 50%;
}
.navi_1_0_0_scope__list {
  display: flex;
  margin-top: 20px;
}
.navi_1_0_0_scope__item {
  width: 33.3%;
  margin: 0 10px;
}
.navi_1_0_0_scope__number {
  font-size: 38px;
  color: #000;
  border-bottom: 1px solid #C2C2C2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .navi_1_0_0_scope__desc {
    width: 100%;
  }
  .navi_1_0_0_scope__list {
    flex-direction: column;
  }
  .navi_1_0_0_scope__item {
    width: 100%;
    margin: 0 0 20px;
  }
  .navi_1_0_0_scope__item:last-child {
    margin-bottom: 0;
  }
}