.navi_1_0_0_contact {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 140px 0;
  display: flex;
  align-items: center;
  text-align: center;
  &__box {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
  &__title {
    font-size: 38px;
    margin-bottom: 15px;
  }
  &__action {
    display: flex;
    justify-content: center;
  }
  &__btn {
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    display: block;
    margin: 0 10px;
    transition: all 0.2s linear;
    &--1 {
      background-color: var(--primary-button);
      border-color: var(--primary-button);
      &:hover {
        background-color: var(--second-button);
        border-color: var(--second-button);
      }
    }
    &--2 {
      border-color: #fff;
      &:hover {
        background-color: var(--second-button);
        border-color: var(--second-button);
      }
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 18px;
    }
    &__btn {
      padding: 8px 20px;
    }
  }
}
