.navi_1_0_0_project {
  padding: 30px 0;
  &__sub {
    color: #005284;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    color: #333637;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    padding: 15px;
    box-shadow: 0px 2px 21.4px 0px #0000000d;
    transition: all 0.2s linear;
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 2px 35.7px 0px #00000021;
    }
  }
  &__thumb {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__head {
    margin: 10px 0 15px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
  }
  @media (max-width: 767px){
    &__item{
        width: 100%;
    }
  }
}
