.research_1_0_0 {
    padding: 50px 0;
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    &__desc {
        text-align: center;
        font-size: 1rem;
        padding: 0 100px;
        margin-bottom: 20px;
    }

    &__filters {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;
        margin: 50px 0;
    }

    &__itemFilter {
        width: calc(20% - 10px);
        display: flex;
        flex-direction: column;

        label {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
        select {
            padding: 5px;
            border-radius: 5px;
        }
    }

    &__btnFilter {
        background-color: #c92030;
        color: #fff;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            background-color: #a81422;
            transition: all 0.3s linear;
        }
    }

    &__boxCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__itemCard {
        display: block;
        width: calc(33% - 10px);
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__content {
        padding: 20px;
    }

    &__date {
        font-size: 0.9rem;
        color: #6c757d;
        margin-bottom: 10px;
    }

    &__titleCard {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 24px;
        color: #000;
    }

    &__descCard {
        font-size: 0.9rem;
        color: #6c757d;
        line-height: 24px;
        margin: 20px 0 30px;
    }

    &__link {
        color: #d9534f;
        font-size: 0.9rem;
        font-weight: 600;
        transition: all 0.3s linear;

        &:hover {
            color: #af201b;
            transition: all 0.3s linear;
        }
    }

    &__line {
        border: 1px solid #f5f5f5;
        margin: 15px 0;
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        a {
            padding: 8px 15px;
            margin: 0 5px;
            border-radius: 5px;
            text-decoration: none;
            color: #6c757d;
            text-align: center;

            &.active {
                background-color: #164796;
                color: #fff;
                border-color: #164796;
            }
        }
    }

    &__prev,
    &__next {
        a {
            border: none;
        }
    }

    @media (max-width: 1200px) {
        &__title {
            font-size: 2rem;
        }

        &__desc {
            padding: 0 75px;
        }

        &__itemCard {
            width: calc(32% - 10px);
        }

        &__content {
            padding: 14px;
        }

        &__titleCard {
            font-size: 1rem;
        }
    }
    @media (max-width: 600px) {
        &__title {
            font-size: 1.5rem;
        }

        &__filters {
            flex-direction: column;
            align-items: center;
        }

        &__desc {
            padding: 0 20px;
        }

        &__itemFilter {
            width: 100%;
        }

        &__itemCard {
            width: 100%;
        }

        &__pagination {
            justify-content: center;

            a {
                padding: 4px 10px;
                margin: 0 2px;
            }
        }

        &__prev,
        &__next {
            display: none;
        }
    }

    @media (max-width: 290px) {
        &__pagination {
            a {
                margin: 0;
            }
        }
    }
}
