.navi_1_0_0_service {
  padding: 40px 0;
}
.navi_1_0_0_service__sub {
  color: #005284;
  margin-bottom: 10px;
}
.navi_1_0_0_service__title {
  color: #333637;
  font-size: 40px;
  margin-bottom: 20px;
}
.navi_1_0_0_service__list {
  position: relative;
}
.navi_1_0_0_service__mySwiper {
  padding: 40px 10px 30px;
}
.navi_1_0_0_service__item {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.2s linear;
}
.navi_1_0_0_service__item:hover {
  box-shadow: 0px 2px 35.7px 0px rgba(0, 0, 0, 0.1294117647);
}
.navi_1_0_0_service__head {
  color: #005284;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: var(--weight-500);
}
.navi_1_0_0_service__desc {
  margin-bottom: 20px;
}
.navi_1_0_0_service__more {
  display: inline-block;
  color: var(--primary-button);
  font-weight: 600;
}
.navi_1_0_0_service__more img {
  margin-bottom: -1px;
  margin-left: 5px;
}
.navi_1_0_0_service__control {
  position: absolute;
  width: 150px;
  height: 20px;
  right: 0;
  top: 0px;
}
.navi_1_0_0_service .swiper-pagination {
  width: -moz-fit-content;
  width: fit-content;
  bottom: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navi_1_0_0_service__next, .navi_1_0_0_service__prev {
  width: 8px;
  z-index: 10;
}
.navi_1_0_0_service__next img, .navi_1_0_0_service__prev img {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.navi_1_0_0_service__next::after, .navi_1_0_0_service__prev::after {
  content: "";
}
.navi_1_0_0_service .swiper-pagination-bullet {
  background: var(--second-button);
  opacity: 1;
  width: 9px;
  height: 9px;
  margin: 0 10px !important;
}
.navi_1_0_0_service .swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid var(--second-button);
  transform: scale(1.4);
}
@media (max-width: 767px) {
  .navi_1_0_0_service__list {
    flex-wrap: wrap;
  }
  .navi_1_0_0_service__item {
    width: 100%;
    margin: 0 0 10px;
  }
  .navi_1_0_0_service__item:last-child {
    margin-top: 0;
  }
}