.navi_1_1_0_solution {
  padding: 30px 0;
}
.navi_1_1_0_solution__sub {
  color: #005284;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}
.navi_1_1_0_solution__title {
  color: #333637;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.navi_1_1_0_solution__inner {
  display: flex;
  margin: 0 -10px;
}
.navi_1_1_0_solution__item {
  width: calc(50% - 20px);
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 21.4px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.2s linear;
}
.navi_1_1_0_solution__item:hover {
  box-shadow: 0px 2px 35.7px 0px rgba(0, 0, 0, 0.1294117647);
}
.navi_1_1_0_solution__thumb img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.navi_1_1_0_solution__context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navi_1_1_0_solution__text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.navi_1_1_0_solution__more {
  display: block;
  color: #c92030;
  font-weight: 600;
}
.navi_1_1_0_solution__icon {
  width: 7px;
  margin-left: 5px;
  margin-bottom: -1px;
}
@media (max-width: 767px) {
  .navi_1_1_0_solution__inner {
    flex-direction: column;
    margin: 0;
  }
  .navi_1_1_0_solution__item {
    width: 100%;
    margin: 0 0 10px;
  }
}